mkdocs-material
Markdown
markdown-fenced-code-tabs
markdown-include
mkdocs-markdownextradata-plugin
mkdocs-exclude
mkdocs-redirects
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-video
mkdocs-render-swagger-plugin
